@import "~bootstrap/scss/bootstrap";

.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
}

.message{
    background-color: white;
    border-radius: 1.25rem;
    padding: 3.125rem;
}
